<!-- </mat-drawer-container>     -->
  <!-- <mat-drawer #drawer class="sidenav-sidenav" mode="side" style="background:#d8d8d8"> -->


  <mat-drawer #drawer class="sidenav-sidenav" mode="side" style="background:lavender">
    <p>Notes</p>
    <p>Remainder</p>
    <p>Label</p>
    <p>Trash</p>
    <p>Archive</p>

    </mat-drawer>


<!-- </mat-drawer-container> -->
<!-- toggel button::::::: -->
<!-- <div class="sidenav-sidenav-content">
  <button type="button" mat-button (click)="drawer.toggle()">To</button>
</div> -->
